@import './quasar.variables';

.page {
  &--login, &--profile {
    background-repeat: no-repeat;
    background-position: 50% -60px;
    background-image: url('../assets/decor-lines-login.svg');
  }
  &--list-of-events {
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: 130% auto;
    background-attachment: fixed;
    background-image: url('../assets/page-bg-2.svg');
  }
  &--today, &--statistics {
    /* Background перенесено до .q-page-container в general.scss */
    /* щоб він покривав весь простір навіть з safe area padding */
  }
  &--event-detail {
    background-repeat: no-repeat;
    background-position: 50% 162px;
    background-size: 110% auto;
    background-image: url('../assets/detail-bg.svg');
  }
}
